@using TaskStatus = Mandatum.Models.TaskStatus
@model Tuple<TaskStatus, IEnumerable<TaskModel>>
<div class="col-4 col-12-medium">
    <section class="highlight">
        @if (Model.Item1 == TaskStatus.InWait)
        {
            <h3>Не начато</h3>
        }
        @if (Model.Item1 == TaskStatus.InProgress)
        {
            <h3>В процессе</h3>
        }
        @if (Model.Item1 == TaskStatus.Done)
        {
            <h3>Готово</h3>
        }
        @foreach (var taskModel in Model.Item2)
        {
            <div><a asp-action="EditTask" asp-route-taskModel="@taskModel" asp-route-taskId="@taskModel.Id" asp-route-boardId="@ViewBag.boardId"  class="button style2">@taskModel.Topic</a></div>
            <br>
        }

        <a asp-action="CreateTask" asp-route-boardId="@ViewBag.boardId" asp-route-taskStatus="@Model.Item1" class="button">Новая задача</a>
    </section>
</div>