@using TaskStatus = Mandatum.Models.TaskStatus
@model KanbanColumnModel

@foreach (var (key, value) in Model.Labels)
{
    <div class="col-4 col-12-medium">
        <section class="highlight">
            <h3>@value</h3>
            @foreach (var task in Model.Tasks[key])
            {
                <div><a asp-action="EditTask" asp-controller="Task" asp-route-taskId="@task.Id" asp-route-boardId="@Model.BoardId" class="button style2">@task.Topic</a>
                    <a asp-action="DeleteTask" asp-controller="Task" asp-route-taskId="@task.Id" asp-route-boardId="@Model.BoardId" class="fa fa-minus-square" aria-hidden="true" style="cursor:pointer;color: #f98780"></a>
                </div>
                <br>
            }

            <a asp-action="CreateTask" asp-controller="Task" asp-route-boardId="@Model.BoardId" asp-route-taskStatus="@key" class="button style3" onclick="checkCount(@Model.Tasks[TaskStatus.InProgress].Count())">Новая задача</a>
            
              
        </section>
    </div>
    <script>
    function checkCount(v){
     
        if (v > 10) { const res = confirm( "Вы не можете создать больше 11 тасков, находящихся в прогрессе" );
            if (res)
                {
                window.location.href = 'BoardView.cshtml';
               }
            }
    }
    </script>
    
}
