@using TaskStatus = Mandatum.Models.TaskStatus
@model BoardViewModel

<body>
<table>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Статус</th>
        <th>Описание</th>
         <th>Исполнители</th>
        <th>Дедлайн</th>
    </tr>
    @foreach (var taskModel in Model.Tasks)
    {
        <tr>
            
            <td>
                <a asp-action="DeleteTask" asp-controller="Task" asp-route-taskId="@taskModel.Id"
                   asp-route-boardId="@Model.Id" class="fa fa-minus-square" aria-hidden="true" style="cursor:pointer;color: #f98780"></a>
            </td>
            <td>
                <a asp-action="EditTask" asp-controller="Task" asp-route-taskId="@taskModel.Id" asp-route-boardId="@Model.Id" class="actions">@taskModel.Topic</a>
            </td>
            @if (taskModel.Status == TaskStatus.InWait)
            {
                <td>Не начато</td>
            }
            @if (taskModel.Status == TaskStatus.InProgress)
            {
                <td>В процессе</td>
            }
            @if (taskModel.Status == TaskStatus.Done)
            {
                <td>Готово</td>
            }
            <td>@taskModel.Description</td>
            <td>@taskModel.Executors</td>
            <td>@taskModel.Deadline</td>
        </tr>
    }
</table>

<a asp-action="CreateTask" asp-controller="Task" asp-route-boardId="@Model.Id"  onclick="checkCount(@Model.Tasks.Count(task => task.Status == TaskStatus.InProgress))" class="button style3">Новая задача</a>
</body>
<script>
    function checkCount(v){
     
        if (v > 10) { const res = confirm( "Вы не можете создать больше 11 тасков, находящихся в прогрессе" );
            if (res)
                {
                window.location.href = 'BoardView.cshtml';
               }
            }
    }
    </script>